<section class="max-w-full p-5 mx-auto">
  <h2 class="mb-8 text-2xl">Course List</h2>

  <table class="w-full text-gray-800 bg-gray-200 rounded-t-lg ">
    <thead>
      <tr class="text-left border-b-2 border-gray-300">
        <th class="px-4 py-3">Image</th>
        <th class="px-4 py-3">Name</th>
        <th class="px-4 py-3">Price</th>
        <th class="px-4 py-3">Code</th>
        <th class="px-4 py-3">Release</th>
        <th class="px-4 py-3">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-gray-100 border-b border-gray-200" *ngFor="let course of courses">
        <td class="w-2 px-4 py-3">
          <img [src]="course.imageUrl" [alt]="course.name">
        </td>
        <td class="px-4 py-3">{{course.name}}</td>
        <td class="px-4 py-3">{{course.price}}</td>
        <td class="px-4 py-3">{{course.code}}</td>
        <td class="px-4 py-3">{{course.releaseDate}}</td>
        <td class="px-4 py-3">
          <app-star [rating]="course.rating"></app-star>
        </td>
      </tr>
    </tbody>
  </table>
</section>


